/* Koibito App
   profile.css
   Created by Mauro J. Pappaterra on 13 of April 2018.
*/

/* Profile Section*/

.portrait{
    padding: 15px;
    background-color: #edff00;
}

.portrait img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

a{
     color: #FFFFFF;
     text-decoration: none;
 }

a:hover{
    color: #ff1c19;
    text-decoration: none;
}