/* Koibito App 
   history.css
   Created by Mauro J. Pappaterra on 14 of 04 2018.
*/

/* History Section*/

card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 360px;
    height: 400px;
    background: #000;
}

.card .image {
    width: 800px;
    height: 340px;
    overflow: hidden;
}

.card .image img {
    width: 100%;
    transition: 15s;
}

.card:hover .image img {
    opacity: .5;
    transform: translateX(30%);
    /*100%*/
}

.card .details {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    /*100%*/
    height: 100%;
    background: #ffc107;
    transition: 2s;
    transform-origin: left;
    transform: perspective(2000px) rotateY(-90deg);
}

.card:hover .details {
    transform: perspective(2000px) rotateY(0deg);
}

.card .details .center {
    padding: 20px;
    text-align: center;
    background: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.card .details .center h1 {
    margin: 0;
    padding: 0;
    color: #ff3636;
    /* line-height: 20px; */
    /* font-size: 20px; */
    text-transform: uppercase;
}

.card .details .center h1 span {
    font-size: 14px;
    color: #262626;
}

.card .details .center p {
    margin: 10px 0;
    padding: 0;
    color: #262626;
}

.card .details .center ul {
    margin: 10px auto 0;
    padding: 0;
    display: table;
}

.card .details .center ul li {
    list-style: none;
    margin: 0 5px;
    float: left;
}

.card .details .center ul li a {
    display: block;
    background: #262626;
    color: #fff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    transform: .5s;
}

.card .details .center ul li a:hover {
    background: #ff3636;
}

body {
    font-family: sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
}

p {
    color: #666;
}

h2 {
    font-size: 3em;
    color: #e74c3c;
}

.centered {
    margin: 0 auto;
    padding: 0 1em;
    /* margin-top: 8%; */
}

/*--------------------------------------------------------------
Header styles minus menu
--------------------------------------------------------------*/

.masthead {
    background: black;
    box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
}

.site-title {
    margin: 0 0 1em;
    padding: 1em 0;
    font-size: 2em;
    font-weight: 300;
    text-align: center;
    color: white;
}

body {
    /* background: #ecf0f1; */
    line-height: 1.4;
}

.site-title {
    color: white;
}

.card {
    background: white;
    margin-bottom: 2em;
}

.card a {
    color: black;
    text-decoration: none;
    padding-right: 10px;
    padding-top: 10px;
}

.thumbnail img {
    /* min-width: 270px; */
    width: 228px;
    height: 218px;
    border-radius: 10px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    line-height: 1.618;
}

h1,
h2 {
    font-family: 'Playfair Display', serif;
    line-height: 1.2;
    margin-bottom: 1rem;
    letter-spacing: 1px;
}

h1 {
    font-size: 3rem;
    max-width: 35rem;
    text-align: center;
}

h2 {
    font-size: 2.5rem;
}

.hero {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12rem 2rem;
    color: white;
    background-image: linear-gradient(to bottom, rgba(69, 72, 77, 1) 0%, rgba(0, 0, 0, 1) 100%), url('https://source.unsplash.com/random/1920x1080/?sky');
    background-blend-mode: multiply;
    background-size: cover;
}

.mouse {
    max-width: 2.5rem;
    width: 100%;
    height: auto;
}

.scroll {
    animation-name: scroll;
    animation-duration: 1.5s;
    animation-timing-function: cubic-bezier(0.65, -0.55, 0.25, 1.5);
    animation-iteration-count: infinite;
    transform-origin: 50% 20.5px;
    will-change: transform;
}

.scroll-link {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
}

@keyframes scroll {
    0%,
    20% {
        transform: translateY(0) scaleY(1);
    }
    10% {
        opacity: 1;
    }
    100% {
        transform: translateY(36px) scaleY(2);
        opacity: 0.01;
    }
}

.content {
    /* min-height: 100vh; */
    /* max-width: 28rem; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* view */

.view {
    width: 800px;
    height: 200px;
    margin: 10px;
    float: left;
    border: 10px solid #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    -webkit-box-shadow: 1px 1px 2px #e6e6e6;
    -moz-box-shadow: 1px 1px 2px #e6e6e6;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
    background: #fff url(../images/bgimg.jpg) no-repeat center center;
}

.view .mask,
.view .content {
    width: 300px;
    height: 200px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}

.view img {
    display: block;
    position: relative;
}

.view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0;
}

.view p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #fff;
    text-align: center;
}

.view a.info: hover {
    -webkit-box-shadow: 0 0 5px #000;
    -moz-box-shadow: 0 0 5px #000;
    box-shadow: 0 0 5px #000;
}

/* end of view  */

/* animation 5  */

.view-fifth img {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.view-fifth .mask {
    background-color: rgba(46, 96, 91, 0.3);
    -webkit-transform: translateX(-300px);
    -moz-transform: translateX(-300px);
    -o-transform: translateX(-300px);
    -ms-transform: translateX(-300px);
    transform: translateX(-800px);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.5s ease-in-out;
    margin: 0;
    padding: 0;
}

.view-fifth h2 {
    background: rgba(255, 255, 255, 0.5);
    color: #000;
    -webkit-box-shadow: 0px 1px 3px rgba(159, 141, 140, 0.5);
    -moz-box-shadow: 0px 1px 3px rgba(159, 141, 140, 0.5);
    box-shadow: 0px 1px 3px rgba(159, 141, 140, 0.5);
}

.view-fifth p {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    color: #333;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.view-fifth:hover .mask {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -o-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
    width: 100%;
}

.view-fifth:hover img {
    -webkit-transform: translateX(300px);
    -moz-transform: translateX(300px);
    -o-transform: translateX(300px);
    -ms-transform: translateX(300px);
    transform: translateX(800px);
}

.view-fifth:hover p {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}

/* End of animatiom5  */

/* Hover animation */

figure {
    width: 300px;
    height: 200px;
    margin: 0;
    padding: 0;
    background: #fff;
    overflow: hidden;
}

figure:hover+span {
    bottom: -36px;
    opacity: 1;
}

.hover08 figure img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.hover08 figure:hover img {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

/* end of hover animation */

@media screen and (min-width: 40em) {
    .cards {
        margin-top: -1em;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .card {
        display: flex;
    }
}

@media screen and (min-width: 677px) {
    .cards {
        /* margin-top: inherit; */
    }
    .card {
        width: 100%;
        margin-bottom: 2em;
        display: flex;
        flex-direction: row;
        flex: 0 1 calc(33% - 0.5em);
    }
}

/* mq 60em*/

@media screen and (max-width: 600px) {
    .card {
        margin-bottom: 2em;
        display: flex;
        flex-direction: column;
        /* flex: 0 1 calc(13% - 0.2em); */
        font-size: x-small;
        /* width: calc(33% - 1em); */
        align-content: center;
    }
    .wrapper h1 {
        font-size: x-large;
    }
    h5 {
        font-size: 10px;
    }
    .thumbnail img {
        width: 300px;
        height: 250px;
        position: center;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
        /* max-height: 200px; */
    }
    .centered {
        /* margin-top: 25%; */
    }
    .card-content {
        align-content: center;
        align-items: center;
        text-align: center;
        padding: 0;
    }
    P {
        margin-left: 3px;
        margin-right: 3px;
        text-align: center;
    }
    .center {
        font-size: 11px;
    }
    h2 {
        font-size: 2rem;
    }
    .card .image {
        /* width: 333px;
        height: 540px; */
        overflow: hidden;
    }
    .hero,
    .mouse,
    .scroll,
    .scroll-link {
        display: none;
    }
    body {
        background-color: white;
    }
    .view {
        width: 300px;
        border: none;
    }
    h1 {
        text-align: left;
    }
}